/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /*COLORS - PRIMARY*/
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    /*COLORS - NEUTRAL*/
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 1.6rem;
    --ff-primary: 'Red Hat Display', sans-serif;
    /*BORDERS*/
    --border-radius: 2rem;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    background: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--clr-pale-blue);
    padding: 0;
    margin: 0;
    color: var(--clr-desaturated-blue);

}

/*-----------------------------------*\
 * #MAIN
\*-----------------------------------*/

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.card {
    background: var(--clr-white);
    max-width: 450px;
    border-radius: var(--border-radius);
    box-shadow: 0px 20px 15px rgb(56, 41, 224, 10%);
    text-align: center;
}

.card__hero {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card__content {
    display: grid;
    justify-items: center;
    padding: 0 2rem 3rem;
}

.btn {
    display: block;
    padding: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: inherit;
    border: none;
    max-width: 350px;
}

.btn--blue {
    color: var(--clr-white);
    background-color: var(--clr-bright-blue);
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0px 20px 10px rgb(56, 41, 224, 15%);
}

.btn--blue:hover {
    opacity: 0.7;
}

.btn--transparent {
    background: var(--clr-white);
    width: fit-content;
    color: inherit;
    margin-top: 1rem;
    padding-top: 0;
    margin-top: 3rem;
}

.card__header {
    font-weight: 900;
    color: var(--clr-dark-blue);
    font-size: 2.6rem;
}

.card__description {
}

.card__summary {
    max-width: 350px;
    margin-top: 2rem;
}